
body{
    font-family: arial;
}
.section{
    display: flex;
    gap: 24px;
    margin: 50px;
}
.card-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    border-radius:15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
  }
 
  .icons {
    color: #531ece;
    margin-bottom: 10px;

    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 7px;
  }

  .icons i {
    font-size:30px;
  }

  h2 {
    font-size:28px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
  }

  .cta {

    color:  #007bff;
  
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .cta:hover {
    background-color: #0056b3;
  }