* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  font-weight:400;
}
.navbar-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
 
}

.right-item > .list-items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
 
  margin: 0px;
}
.list-items a {
  text-decoration: none;
  color: #1a5ee8;
}

